:root {
	--lg: 1.125rem;
	--sm: 0.889rem;
	--xs: 0.79rem;
	--black: black;
	--white: floralwhite;
	--link: maroon;
}

html {
	box-sizing: border-box;
	font-size: 16px;
}
@media only screen and (min-width: 768px) {
	html {
		font-size: 18px;
	}
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: antiquewhite;
	color: black;
	font-family: 'Public Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.4rem;
}

button:hover, input:hover, label:hover {
	cursor: pointer;
}

b { font-weight: 700; }
i { font-style: italic; }

a {
	color: var(--link);
	font-weight: 500;
}

h1 {
	border-bottom: 2px solid black;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.1em;
	margin-bottom: 1rem;
	padding: 0.25rem 1rem 0.5rem 0.5rem;
	width: fit-content;
}

h2 {
	font-size: var(--sm);
	font-weight: 700;
	letter-spacing: 0.1em;
	margin-top: 1rem;
	text-transform: uppercase;
}

button {
	background-color: var(--black);
	border: 2px solid black;
	border-radius: 12px;
	color: var(--white);
	font-family: 'Public Sans', sans-serif;
	font-size: var(--sm);
	font-weight: 500;
	margin: 0.5rem 0;
	padding: 0.75em;
	width: 100%;
}
.primary:hover {
	background-color: dimgrey;
}
.secondary {
	background-color: var(--white);
	color: var(--black);
}
.secondary:hover {
	background-color: #f3dfcd;
	color: var(--black);
}
.tertiary {
	background-color: var(--white);
	border: none;
	color: var(--black);
	padding: 0;
	text-decoration: underline;
}
.tertiary:hover {
	color: var(--link);
}

main {
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 100vw auto;
	grid-template-areas:
		"arena"
		"menu";
}
.arena {
	grid-area: arena;
	background-color: darkseagreen;
}
.menu {
	grid-area: menu;
	background-color: var(--white);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto minmax(min-content, max-content);
	grid-template-areas:
		"top"
		"bottom";
}
.top {
	grid-area: top;
	padding: 1rem 1rem 0;
}
.bottom {
	grid-area: bottom;
	padding: 1rem;
}

.debuffs {
	display: grid;
	grid-template-columns: 15% 15% 15% 55%;
	grid-template-rows: 4.5rem 2rem;
  grid-template-areas:
    "intemp hotcold brand life"
    "txt-hotcold . txt-brand life";
  font-weight: 500;
	margin-bottom: 2rem;
}
.intemp { grid-area: intemp; }
.hotcold { grid-area: hotcold; }
.brand { grid-area: brand; }
.life { grid-area: life; }
#txt-hotcold { grid-area: txt-hotcold; margin: auto; }
#txt-brand { grid-area: txt-brand; margin: auto; }

/* img svg media query */
@media only screen and (max-width: 768px) {
	img, .life svg {
		display: block;
		margin: auto;
		width: 85%;
		height: 85%;
	}
}

#status {
	border: 2px dotted black;
	border-radius: 3px;
	margin-bottom: 1rem;
	padding: 1.5rem 1.5rem 2rem;
}

.hidden { display: none; }

footer {
	border-top: 2px double black;
	font-size: var(--sm);
	padding: 0.5rem 1rem 1rem;
	text-align: center;
}

@media only screen and (min-width: 768px) {
	h2{
		margin-top: 2rem;
	}

	main {
		grid-template-columns: clamp(400px, 65vw, 1200px) auto;
		grid-template-rows: clamp(700px, 100vh, 1200px);
		grid-template-areas:
			"arena menu";
	}
	.top {
		padding: 6rem 2rem 0;
	}
	.bottom {
		padding: 1rem 2rem;
	}
}
